nav{
    display: flex;
    gap:260px;
    align-items: center;
    padding:45px;
    background-color: rgb(68, 23, 23);
}
nav a{
    text-decoration:none;
    color:white;
}
div{
    display:flex;
    gap:100px;
    font-size:20px;
}
nav h2{
    font-family: 'Times New Roman', Times, serif;
    font: size 30px;
    color:white;
}
nav button{
    background-color:rgb(128, 52, 52);
    color: white;
    border-radius:50px;
    cursor: pointer;
    border: none;
    font-size:18px;
    padding:10px;
}